.form {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;

  background-color: lightgoldenrodyellow;
  border-radius: 8px;

  form {
    padding: 25px;

    h5 {
      font-weight: bolder;
    }
  }
}
